<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row text-center">
            <!--Copyright-->
            <div class="col d-flex align-items-center order-last order-md-first text-md-start">
                <div class="row">
                    <div class="col-12 small">
                        &copy; 2026 by MontoyaTM. All rights reserved.
                    </div>
                </div>
            </div>
            <!--Logo-->
            <div class="col d-flex align-items-center justify-content-center">
                <img src="/images/tmdb_logo.svg" height="40" />
            </div>
            <div class="col d-flex flex-column align-items-center justify-content-end">
                <div class="row">
                    <!--Socials-->
                    <div class="col-12">
                        <a href="@YouTubeUrl" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i></a>
                        <a href="https://github.com/MontoyaTM" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                        <a href="#" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <!--Projects-->
                    <div class="col-12 small">
                        @* <a href="#">Portfolio</a>
                        &bull;
                        <a href="https://github.com/MontoyaTM/Konohagakure"">Konohagakure</a>
                        &bull;
                        <a href="https://github.com/MontoyaTM/DiscordBot-API">DiscordBot API</a>
                        &bull; *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private const string YouTubeUrl = "https://www.youtube.com/@montoyatm";
}
